<div class="container">
    <div class="about_karathon" window-elem="about_karathon_wrapper">
      <h2>зачем вам<br>карафон?</h2>
      <dl class="about_karathon_wrapper">
        <dt>
          <h3>Повысь активность</h3>
        </dt>
        <dd>Твоя недельная активность возрастёт до невиданных цифр. Ты, на собственном примере, увидишь, как повышение
          активности прямо пропорционально твоим результатам.</dd>
        <dt>
          <h3>Найди друзей</h3>
        </dt>
        <dd>Ты встретишь единомышленников, людей, которые прошли все карафоны, или, так же как и ты, тут впервые.
          Карафонцы - очень дружелюбный народ, готовый принять, понять и поддержать новобранцев.</dd>
        <dt>
          <h3>Установи рекорд</h3>
        </dt>
        <dd>В течении карафона ты будешь ходить больше обычного. Ты установишь личный рекорд и поймёшь, что можешь больше,
          чем тебе кажется!</dd>
        <dt>
          <h3>Твори добро</h3>
        </dt>
        <dd>Часть средств, собранных в ходе карафона, будет переведена в благотворительные организации, выбранные
          победителями.</dd>
      </dl>
    </div>
    <div class="about_karathon_button_wrapper">
        {% include 'core/includes/pink_button.html' %}
    </div>
  </div>