{% load static %}


{% for champ_rest in champs_rest %}
<div class="desktop">
    <div class="champions_item" window-elem="champions_item">
        <div class="place">
            {{champ_rest.1}} место
        </div>
        <div class="photo">
            <img src="{% if champ_rest.0.photo %}{{champ_rest.0.photo.url}}{% else %}{% static 'core/img/no_avatar.png' %}{% endif %}"
                alt="">
        </div>
        <div class="information">
            <p>{{champ_rest.0.first_name}} {{champ_rest.0.last_name}}</p>
            <span>{% if champ_rest.0.instagram %}@account{% endif %}</span>
        </div>
        <div class="steps">
            {{20|add:champ_rest.1}} карафон &mdash; 999 999 шагов
        </div>
    </div>
</div>
<div class="mobile">
    <div class="champions_item" window-elem="champions_item">
        <div class="photo">
            <img src="{% if champ_rest.0.photo %}{{champ_rest.0.photo.url}}{% else %}{% static 'core/img/no_avatar.png' %}{% endif %}"
                alt="">
        </div>
        <div class="mobile_champ_info">
            <div class="place">
                {{champ_rest.1}} место
            </div>
            <div class="information">
                <p>{{champ_rest.0.first_name}} {{champ_rest.0.last_name}}</p>
                <p>{% if champ_rest.0.instagram %}@account{% endif %}</p>
            </div>
            <div class="steps">
                {{20|add:champ_rest.1}} карафон &mdash; 999 999 шагов
            </div>
        </div>
    </div>
</div>
{% endfor %}
