{% load static %}
{% load ru_plural %}
{% load dividing_number_digits %}
{% url 'core:champions' as champions_url %}

<div
    class="{% if request.resolver_match.view_name  == 'core:champions' %}first_champs_block first_screen_first_champs{% else %}first_champs_block{% endif %}">
  <div
      class="{% if request.resolver_match.view_name  == 'core:champions' %}wrapper first_screen_first_champs_wrapper{% else %}wrapper{% endif %}">
    <ol>
      {% for champ in top_champs %}
        <li>
          <div class="champ_photo">
            <img src="{% if champ.participant_photo %}
                        media/{{ champ.participant_photo }}
                      {% else %}
                        {% static 'core/img/no_avatar.png' %}
                      {% endif %}"
                 alt="{{ champ.name }}">
          </div>
          <div class="champ_nameplate">
            <p>{{ forloop.counter }} место</p>
            <p>{{ champ.name }}</p>
            <p>{{ champ.karathon_number }}-й карафон &mdash; {{ champ.steps|dividing_number_digits }}
              {{ champ.steps|ru_plural:"шаг, шага, шагов" }}</p>
          </div>
        </li>
      {% endfor %}
    </ol>
    {% if view_name == 'core:site-index' or view_name == 'core:karathon' %}
      {% if champ_list_length > 3 %}
        <div class="first_champs_block_link">
          <a href="{{ champions_url }}">все рекорды</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>