<div class="first_champs_block">
    <div class="wrapper">
        <ol>
            {% for ch in champs %}
            <li>
                <div class="champ_photo">
                    <img class="" src="{{ch.0.photo.url}}" alt="champ_photo">
                </div>
                <div class="champ_nameplate">
                    <p>
                        {{ch.1}} место
                    </p>
                    <p>
                        {{ch.0.first_name}} {{ch.0.last_name}}
                    </p>
                    <p>
                        23 карафон - 177 123 шагов
                    </p>
                </div>
            </li>
            {% endfor %}
        </ol>
        <div class="first_champs_block_link">
            <a href="javascript:void(0)">все рекорды</a>
        </div>
    </div>
</div>