{% load static %}

<div class="footsteps" window-elem="footsteps_karathon_page">
    <img src="{% static 'core/img/steps/footstep_white.svg' %}" alt="footstep_1">
    <img src="{% static 'core/img/steps/footstep_white.svg' %}" alt="footstep_2">
    <img src="{% static 'core/img/steps/footstep_white.svg' %}" alt="footstep_3">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_4">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_5">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_6">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_7">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_8">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_9">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_10">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_11">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_12">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_13">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_14">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_15">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_16">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_17">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_18">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_19">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_20">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_21">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_22">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_23">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_24">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_25">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_26">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_27">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_28">
    <img src="{% static 'core/img/steps/footstep_pink.svg' %}" alt="footstep_29">
    <img src="{% static 'core/img/steps/footstep_green.svg' %}" alt="footstep_30">
    <img src="{% static 'core/img/steps/footstep_blue.svg' %}" alt="footstep_31">
</div>