{% load static %}
{% load get_outlink %}
{% url 'core:about_karachunia' as about_karachunia_url %}

<div class="container">
    <div class="footer_nav">
        <div class="footer_nav_logo">
            <img src="{% static 'core/img/logo_kara.svg' %}" alt="karathon_logo">
            <div>© {% now "Y" %} Анна Карачунская</div>
        </div>
        <div class="footer_nav_menu">
            <nav class="footer_nav_menu_items">
                <li>
                    <a {% if request.resolver_match.view_name  == 'core:site-index' %} href="javascript:void(0)" style="cursor: default; text-decoration: none" {% else %} href="/" {% endif %}>
                        Главная
                    </a>
                </li>
                <li><a href="javascript:void(0)">n-й карафон</a></li>
                <li><a href="javascript:void(0)">Рекордсмены</a></li>
                
            </nav>
        </div>
        <div class="footer_nav_menu">
            <nav class="footer_nav_menu_items">
                <li><a href="javascript:void(0)">Прошедшие карафоны</a></li>
                <li><a {% if request.resolver_match.view_name  == 'core:about_karachunia' %} href="javascript:void(0)" style="cursor: default; text-decoration: none" {% else %} href="{{ about_karachunia_url }}" {% endif %}>О Карачуне</a></li>
                {% comment %} <li><a href="javascript:void(0)">Благотворительность</a></li> {% endcomment %}
                <li><a href="{% url 'account:account-index' %}">Личный кабинет</a></li>
                <li><a href="javascript:void(0)">Политика конфиденциальности</a></li>
            </nav>
        </div>
        <div class="footer_nav_social_media">
            <nav class="footer_nav_menu_items">
                <li>Telegram <a href="{% get_outlink 'TELEGRAM_URL' %}" target="_blank"><span>allaboutkarafon</span></a></li>
                <li>Instagram <a href="{% get_outlink 'INSTAGRAM_URL' %}" target="_blank"><span>Karachunia</span></a></li>
                <li>Вконтакте <a href="{% get_outlink 'VK_URL' %}" target="_blank"><span>Карачуня Трансформация</span></a></li>
                <li>Youtube <a href="{% get_outlink 'YOUTUBE_URL' %}" target="_blank"><span>Anna Karachunskaya</span></a></li>
            </nav>
        </div>
    </div>
    <div class="footer_lemur">
        <img src="{% static 'core/img/logo_lemur.svg' %}" alt="lemur_logo">
        <div class="footer_lemur_text">Разработка и техническая поддержка сайта<br>
            <a href="{% get_outlink 'LEMUR_URL' %}" target="_blank"><span>Lemur Media</span></a>
        </div>
    </div>
</div>