{% load static %}

<script src="{% static 'account/js/account.js' %}"></script>
<script src="{% static 'account/js/authentication.js' %}"></script>
<script src="{% static 'account/js/imask.js' %}"></script>
<script src="{% static 'core/js/functions.js' %}"></script>
<script src="{% static 'core/js/base.js' %}"></script>
<script src="{% static 'core/js/cookie.js' %}"></script>
<script src="{% static 'core/js/mask_phoneinput.js' %}"></script>
<script src="{% static 'core/js/task.js' %}"></script>
<script src="{% static 'core/js/show_champions.js' %}"></script>
<script src="{% static 'core/js/steps_countdown.js' %}"></script>
<script src="{% static 'steps/js/report.js' %}"></script>
<script src="{% static 'teams/js/add_desire.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@2.3.4"></script>
<script>
    if (location.hash) {
        window.addEventListener("load", function () {
            seamless.scrollIntoView(document.getElementById(location.hash.substring(1)), {
                behavior: 'smooth',
                block: 'center'
            })
        })
    }
</script>
<script src="{% static 'core/js/promo_video.js' %}"></script>