<dl class="steps_block_wrapper container" window-elem="steps_block">
    <dt total-steps="{{total_steps}}" window-elem="steps_total">0</dt>
    <dd>{{total_steps_word}} мы прошли с момента запуска проекта</dd>
    <dt steps-past-karathon="{{total_steps}}" window-elem="steps_past_karathon">0</dt>
    <dd>{{total_steps_word}} {{total_steps_verb}} в предыдущем карафоне</dd>
    <dt steps-total-today="{{total_steps_today}}" window-elem="steps_total_today">0</dt>
    <dd>{{total_steps_today_word}} {{total_steps_today_verb}} сегодня</dd>
</dl>