<div class="close" popup-element="close"></div>
<h2>Сдать отчёт</h2>
{% if window == 'form' %}
  <form enctype="multipart/form-data" report-form-elem="form">
    <input type="hidden" name="window" value="{{ window }}" report-form-elem="window">
    <label>
      <div>Сколько прошел сегодня?</div>
      <input type="number" name="steps" min="1">
      <div>{{ errors.steps.as_text }}</div>
    </label>
    <input type="file" name="photo" accept="image/jpeg,image/png">
    <div>{{ errors.photo.as_text }}</div>
    <div>фото часов или скрин телефона для выборочной проверки результатов</div>
    <input type="button" value="Сдать отчёт" report-form-elem="button">
    <div>{{ errors.report }}</div>
  </form>
{% endif %}
{% if window == 'successful' %}
  <div reload="{{ reload_overlay }}">
    Отлично!<br>
    Твой результат скоро появится на сайте!
  </div>
{% endif %}