<div class="close" popup-element="close"></div>
{% if window == 'form' %}
  <h4>Сдать отчёт</h4>
  <form enctype="multipart/form-data" report-form-elem="form">
    <input type="hidden" name="window" value="{{ window }}" report-form-elem="window">
    <label class="report_form_field">
      <div class="text">Сколько прошел сегодня?</div>
      <input class="input" type="text" name="steps" min="1">
      <div class="error">{{ errors.steps.as_text }}</div>
    </label>
    <div class="report_form_field">
      <label class="custom_input" for="photo_report" report-form-elem="custom_input">Прикрепи фото</label>
      <input type="file" class="my" name="photo" id="photo_report" accept="image/jpeg,image/png" style="display: none;">
      <div class="error">{{ errors.photo.as_text }}</div>
      <div class="text">фото часов или скрин телефона для выборочной проверки результатов</div>
    </div>
    <button class="button pink_button" report-form-elem="button"><span report-form-elem="button">Сдать отчёт</span></button>
    <div class="error">{{ errors.report }}</div>
  </form>
{% endif %}
{% if window == 'task_completed' %}
  <h4>Задание выполнено</h4>
  <div reload="{{ reload_overlay }}">
    Отлично!<br>
    Задание выполнено!
  </div>
{% endif %}
{% if window == 'task_not_completed' %}
  <h4>Задание не выполнено</h4>
  <div reload="{{ reload_overlay }}">
    К сожалению, задание не выполнено
  </div>
{% endif %}