<div class="close" popup-element="close"></div>
{#<h4>добро пожаловать в {{ presentation_karathon.number }}-й карафон</h4>#}
{% if presentation_karathon.video_presentation_link %}
  <iframe width="560" height="315" src="{{ presentation_karathon.video_presentation_link }}?enablejsapi=1&version=3&playerapiid=ytplayer"
          title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
{#  TODO добавить параметр origin=домен#}
{% endif %}