<div class="close" popup-element="close"></div>
{% load get_outlink %}

<h4>добро пожаловать в 19-й карафон</h4>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7lBRKIaoKUY" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe> -->
<!-- <iframe width="720" height="405" src="{% get_outlink 'KARATHON_VIDEO_LINK' %}" frameBorder="0"
    allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->