{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  
{% include 'account/includes/first_screen.html' %}
<div class="container">
  <div class="account_content_wrapper">
    <div class="account_content_header"><h2>Персональные данные</h2></div>
    {% include 'account/forms/personal_form.html' %}
    {% comment %} {% if winner_questionnaire_form %} {% endcomment %}
      <div class="account_content_header"><h2>Анкета победителя</h2></div>
      {% include 'account/forms/winner_questionnaire_form.html' %}
    {% comment %} {% endif %} {% endcomment %}
  </div>
</div>
{% endblock %}