{% extends 'core/base.html' %}

{% block title %}Сообщения{% endblock %}
{% block content %}
<div class="container">
  <div class="account_content_wrapper">
    <h2  id="messages">Сообщения</h2>
      <div class="messages_items_wrapper" window-elem="messages_items_wrapper">
        {% include 'account/includes/messages_block.html' %}
      </div>
    <div class="pink_button message_item_marked_as_read show" window-elem="marked_as_read_all"><span>прочитаны все</span></div>
    <div class="pink_button message_item_marked_as_read" window-elem="marked_as_read"><span>прочитано</span></div>
    {% if next_messages_exist %}
    <div class="messages_items_next" window-elem="previous_messages">предыдущие сообщения</div>
    {% endif %}
  </div>
</div>
{% endblock %}