{% extends 'core/base.html' %}

{% block content %}
<div class="container">
<h2 class="account_header">Сообщения</h2>
  {% for message_item in messages_list %}
  <div class="message_item">
    {% if not message_item.is_viewed %}
    <div class="message_item_new">new</div>
    {% endif %}
    <div class="message_item_date">{{ message_item.datetime_creation }}</div>
    <div><h4>{{ message_item.header }}</h4></div>
    <div class="message_item_text">{{ message_item.text }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}