{% extends 'core/base.html' %}

{% block content %}
{% include 'account/includes/first_screen.html' %}
  <div>
    {% if current_karathon_team %}
      <div>Твоя команда {{ current_karathon_team.name }}</div>
      <div>Результаты твоей команды в {{ current_karathon_team.karathon.number }}-ом карафоне</div>
      <div>
        {% for team_participant in current_karathon_team.team_participants %}
          <div>{{ team_participant.participant }}</div>
        {% endfor %}
      </div>
    {% else %}
      <div>Вы не состоите ни в одной команде</div>
    {% endif %}
  </div>
  <div>
  <div class="blue_button" button-action="open-report-form">Сдать отчёт</div>
  </div>
  <div>С кем ты хочешь быть в команде на следующем карафоне?</div>
  <div>
    {% for desire_item in desire_list %}
      <div>{{ desire_item.desired_participant }}</div>
    {% endfor %}
    <div>
      <button button-action="open-add-desire-form">Добавить друга</button>
    </div>

  </div>

{% endblock %}