* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(/static/core/less/fonts/Montserrat-VariableFont_wght.ttf)
}

@font-face {
    font-family: "MontserratAlternates-Bold";
    src: url(/static/core/less/fonts/MontserratAlternates-Bold.ttf)
}

@font-face {
    font-family: "RussoOne-Regular";
    src: url(/static/core/less/fonts/RussoOne-Regular.ttf)
}

@container: @container_main;

html {
    height: 100%;
    // font-size: 30px;
    font-size: @font_size_main;
    // font-size: 2.05vw;
}

body {
    // font-size: 30px;
    font-family: "Montserrat";
    letter-spacing: .03em;
    color: @black;
    position: relative;
    height: auto;
    height: 100%;
    // min-height: 100%;
}

h1 {
    font-weight: 800;
    // font-size: 100px;
    font-size: 3.33rem;
    line-height: 1.25;
    letter-spacing: .05em;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    // font-size: 80px;
    font-size: 2.66rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    // font-size: 70px;
    font-size: 2.33rem;
    line-height: 1.25;
    letter-spacing: .03em;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
    // font-size: 40px;
    font-size: 1.33rem;
    line-height: 1.25;
    letter-spacing: .05em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav li {
    list-style: none;
}

ol {
    list-style-type: none;
    counter-reset: num;
}

a span {
    color: @pink;
}

a span:hover {
    text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    height: auto;
}

.container {
    width: @container;
    margin-left: auto;
    margin-right: auto;
}

.content {
    flex: 1 0 auto;
}

.content_wrapper {
    overflow: hidden;

    .first-screen_wrapper {
        height: 100vh;
    }
}

.blue_button {
    .button();
    background: @blue;

    &::before {
        background: @gradient_blue_green;
    }
}

.green_button {
    .button();
    padding: 0;
    background: @green;

    &::before {
        background: @gradient_green_blue;
    }
}

.pink_button {
    .button();
    background: @pink;
    border: none;

    &::before {
        background: @gradient_pink_blue;
    }
}

.white_button {
    .button();
    color: @pink;
    background: @white;
    // border: 2px solid @pink;
    border: var(--border-main) solid @pink;

    &:hover {
        background: @gradient_pink_blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // border: 2px solid transparent;
        border: var(--border-main) solid transparent;
        border-image: @gradient_pink_blue;
        border-image-slice: 1;
        .hover_animation();
    }
}

.header {
    background: @pink;
}

.header_navbar_menu {
    position: relative;
    // margin-top: 20px;
    margin-top: .68rem;
    .navbar();
}

.header_navbar_menu_mobile_buttons {
    display: none;
}

.header_navbar_menu_mobile_background {
    display: none;
}

.navbar_karathon_list_wrapper {
    position: absolute;
    max-height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // left: -5px;
    left: -.17rem;
    overflow: hidden;
    z-index: 1;

    div {
        // margin-top: 5px;
        margin-top: .17rem;
    }
}

.header_navbar_menu li:first-child:hover,
.sticky_navbar_menu li:first-child:hover {
    cursor: pointer;

    .navbar_karathon_list_wrapper {
        // padding: 5px;
        padding: .17rem;
        background: @pink;
        // max-height: 100px;
        max-height: 3.39rem;
        transition: max-height 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
}

.sticky_navbar_menu {
    position: fixed;
    // top: -150px;
    top: -6.08rem;
    // left: 4%; // половина разности ширины экрана и контейнера
    left: calc((100% - @container)/2);
    // padding: 15px 0;
    padding: .51rem 0;
    // margin-top: 10px;
    margin-top: .34rem;
    background: @pink;
    transition: top 0.8s;
    z-index: 2;
    .navbar();

    img {
        top: 0px;
    }

    &::after {
        content: "";
        background: @pink;
        position: absolute;
        top: 0;
        // right: -30px;
        // width: 30px;
        right: 100%;
        width: 1.02rem;
        height: 100%;
    }

    >li:last-of-type::after {
        content: "";
        background: @pink;
        position: absolute;
        top: 0;
        // right: -30px;
        // width: 30px;
        // left: 100%;
        width: 1.02rem;
        height: 100%;
    }
}

// .sticky_navbar_menu li:first-child::before {
//     content: "";
//     background: @pink;
//     position: absolute;
//     top: 0;
//     // left: -30px;
//     // width: 30px;
//     left: -1.02rem;
//     width: 1.02rem;
//     height: 100%;
// }

// .sticky_navbar_menu li:last-of-type::after {
//     // &::before {
//     content: "";
//     background: @pink;
//     position: absolute;
//     top: 0;
//     // right: -30px;
//     // width: 30px;
//     right: -1.02rem;
//     width: 1.02rem;
//     height: 100%;
//     // }
// }

.footsteps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // margin-top: 12.42rem;
    // margin-left: .61rem;

    img {
        width: 4.06rem;
        position: absolute;
        opacity: 0;
        transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);

        &.show {
            opacity: 1;
        }

        &.show_blur {
            opacity: 1;
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
        }

        &:nth-child(1) {
            left: 1.25%;
            top: 4.63%;
        }

        &:nth-child(2) {
            left: 14.79%;
            top: 5.5%;
            transform: scale(1, -1);
        }

        &:nth-child(3) {
            left: 33.31%;
            top: 5.63%;
            transform: rotate(32.79deg);
        }

        &:nth-child(4) {
            left: 47.82%;
            top: 7.56%;
            transform: rotate(38.41deg) scale(1, -1);
        }

        &:nth-child(5) {
            left: 62.77%;
            top: 8.49%;
            transform: rotate(32.73deg);
        }

        &:nth-child(6) {
            left: 73.65%;
            top: 10.85%;
            transform: rotate(37.35deg) scale(1, -1);
        }

        &:nth-child(7) {
            left: 89.21%;
            top: 13.05%;
            transform: rotate(74.55deg);
        }

        &:nth-child(8) {
            left: 91.79%;
            top: 16.58%;
            transform: rotate(91.92deg) scale(1, -1);
        }

        &:nth-child(9) {
            left: 91.79%;
            top: 20.19%;
            transform: rotate(98.66deg);
        }

        &:nth-child(10) {
            left: 84.44%;
            top: 24%;
            transform: rotate(114.9deg) scale(1, -1);
        }

        &:nth-child(11) {
            left: 79.53%;
            top: 28.03%;
            transform: rotate(121.62deg);
        }

        &:nth-child(12) {
            left: 66.15%;
            top: 31.79%;
            transform: rotate(90.09deg) scale(1, -1);
        }

        &:nth-child(13) {
            left: 72.47%;
            top: 36%;
            transform: rotate(74.55deg);
        }

        &:nth-child(14) {
            left: 81.01%;
            top: 40.77%;
            transform: rotate(75.61deg) scale(1, -1);
        }

        &:nth-child(15) {
            left: 91.59%;
            top: 45.27%;
            transform: rotate(75.22deg);
        }

        &:nth-child(16) {
            left: 91.99%;
            top: 50.3%;
            transform: rotate(92.98deg) scale(1, -1);
        }

        &:nth-child(17) {
            left: 93.02%;
            top: 54.79%;
            transform: rotate(99.74deg);
        }

        &:nth-child(18) {
            left: 87.8%;
            top: 59.08%;
            transform: rotate(100.99deg) scale(1, -1);
        }

        &:nth-child(19) {
            left: 84.44%;
            top: 63.2%;
            transform: rotate(128.35deg);
        }

        &:nth-child(20) {
            left: 70.45%;
            top: 65.49%;
            transform: rotate(135.76deg) scale(1, -1);
        }

        &:nth-child(21) {
            left: 60.54%;
            top: 68.09%;
            transform: rotate(114.8deg);
        }

        &:nth-child(22) {
            left: 47.03%;
            top: 69.79%;
            transform: rotate(134.33deg) scale(1, -1);
        }

        &:nth-child(23) {
            left: 38.69%;
            top: 72.39%;
            transform: rotate(131.45deg);
        }

        &:nth-child(24) {
            left: 25.76%;
            top: 74.39%;
            transform: rotate(100.99deg) scale(1, -1);
        }

        &:nth-child(25) {
            left: 25.24%;
            top: 77.3%;
            transform: rotate(101.57deg);
        }

        &:nth-child(26) {
            left: 23.26%;
            top: 80.03%;
            transform: rotate(80.95deg) scale(1, -1);
        }

        &:nth-child(27) {
            left: 30.24%;
            top: 82.37%;
            transform: rotate(59.34deg);
        }

        &:nth-child(28) {
            left: 39.13%;
            top: 85.27%;
            transform: rotate(62.73deg) scale(1, -1);
        }

        &:nth-child(29) {
            left: 51.72%;
            top: 88.18%;
            transform: rotate(82.85deg);
        }

        &:nth-child(30) {
            left: 49.95%;
            top: 91.87%;
            transform: rotate(89.8deg) scale(1, -1);
        }

        &:nth-child(31) {
            left: 57.74%;
            top: 91.9%;
            transform: rotate(90.06deg);
        }
    }
}

.sticky_navbar_menu .no_avatar {
    // border: 2px solid @pink;
    border: var(--border-main) solid @pink;
}

.first-screen_wrapper {
    background: @pink;
    // padding-top: 40px;
    padding-top: 1.36rem;
    // height: 100vh;
}

.first-screen_text {
    width: 56%;
}

.first-screen {
    display: flex;
    position: relative;
    // height: 100vh;
}

.first-screen_text_collab {
    // font-size: 40px;
    font-size: 1.33rem;
}

.first-screen_button_wrapper {
    // margin-top: 45px;
    margin-top: 1.53rem;
    // margin-bottom: 100px;
    margin-bottom: 3.39rem;
}

.button_text_cost {
    // font-size: 25px;
    font-size: 0.83rem;
    // margin-top: 20px;
    margin-top: 0.68rem;
}

.first-screen_photo img {
    position: absolute;
    // height: 750px;
    height: 25rem;
    // width: 750px;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

.content_with_menu_wrapper>.participants_account_menu {
    // max-height: none;
    // top: auto;
    // // bottom: -140px;
    // bottom: -4.75rem;
    position: sticky;
    left: 70%;
    top: 3.05rem;
    max-height: fit-content;
    margin-top: -8.51rem;
    // margin-top: -60vh;
    // margin-top: calc(100% - 400px);
    // margin-top: calc(-100vh + 14rem);
}

.first-screen_avatar img {
    // height: 550px;
    // width: 550px;
    height: 18.33rem;
    width: 18.33rem;
    border-radius: 50%;
    object-fit: cover;
}

.first-screen_account_time {
    // margin-top: 80px;
    margin-top: 2.71rem;
    min-height: 1rem;
    font-weight: 700;
    // font-size: 80px;
    font-size: 2.66rem;
    letter-spacing: 0.05em;
    color: @white
}

.first-screen_account_button_wrapper {
    // margin-top: 25px;
    margin-top: .85rem;
    // margin-bottom: 50px;
    margin-bottom: 1.69rem;
}

.first-screen_no_avatar p {
    // height: 550px;
    // width: 550px;
    height: 18.33rem;
    width: 18.33rem;
    border-radius: 50%;
    background: @white;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-top: calc(50% - 0.5rem);
    text-align: center;
    color: @pink;
    text-transform: uppercase;
}

.about_karathon {
    // margin-top: 200px;
    margin-top: 6.78rem;
    max-width: 70%;
    position: relative;
}

.about_karathon_description {
    // margin-top: 50px;
    margin-top: 1.69rem;
    // max-width: 70%;
    line-height: 1.4;
}

// .about_karathon_list {
//     max-width: 70%;
// }

.about_karathon_list_wrapper {
    // margin-top: 100px;
    margin-top: 3.39rem;
}

.about_karathon_list_wrapper li {
    position: relative;
    // font-size: 40px;
    font-size: 1.33rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    // padding-bottom: 100px;
    padding-bottom: 3.39rem;
}

.about_karathon_list_wrapper li::before {
    content: counter(num);
    counter-increment: num;
    position: absolute;
    // bottom: 30px;
    // bottom: 1.02rem;
    // left: -50px;
    left: -1.69rem;
    font-family: "MontserratAlternates-Bold";
    // font-size: 200px;
    font-size: 6.66rem;
    font-weight: normal;
    color: transparent;
    -webkit-text-stroke: 1px @pink;
    z-index: -1;
    top: 39%;
    margin-top: -0.625em;
    line-height: 6.66rem;
}

.about_karathon_description_button_wrapper {
    // margin-top: 100px;
    margin-top: 3.39rem;
}

.about_karathon_wrapper {
    // margin-top: 80px;
    margin-top: 2.71rem;
    // max-width: 70%;
    // position: relative;
    // z-index: 1;
}

.about_karathon_wrapper dt {
    color: @pink;
    // margin-top: 100px;
    margin-top: 3.39rem;
}

.about_karathon_wrapper dt h3 {
    letter-spacing: 0;
}

.about_karathon_wrapper dt:first-child {
    margin-top: 0;
}

.about_karathon_button_wrapper {
    // margin-top: 100px;
    margin-top: 3.39rem;
    // margin-bottom: 160px;
    margin-bottom: 5.42rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    visibility: hidden;
    opacity: 0;
    z-index: 20;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}