.footer {
    flex: 0 0 auto;
    font-size: 13px;
    letter-spacing: 0.03em;
    background: @black;
    color: @white;
    padding-top: 100px;
    padding-bottom: 25px;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
}

.footer_nav_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_nav_logo_img {
    flex: 0 0;
    margin-right: auto;
}

.footer_nav_menu_items li {
    margin-top: 20px;
}

.footer_nav_menu_items li a {
    color: @white;
}

.footer_nav_menu_items li:first-child {
    margin-top: 0;
}

.footer_lemur {
    display: flex;
    margin-top: 100px;
    align-items: flex-end;
    font-size: 15px;
}

.footer_lemur_text {
    margin-left: 33px;
}