.cross_stick {
    content: "";
    position: absolute;
    // width: 2px;
    width: var(--cross-width);
    // height: 43px;
    height: var(--cross-height);
    // left: 22px;
    left: calc(50% - var(--cross-width)/2);
    // top: 1.3px;
    top: calc(50% - var(--cross-height)/2);
}

.close {
    position: absolute;
    // top: -15px;
    // right: -15px;
    top: -.51rem;
    right: -.51rem;
    // width: 50px;
    // height: 50px;
    width: 1.69rem;
    height: 1.69rem;
    border-radius: 50%;
    // border-width: 2px;
    // border-style: solid;
    border: var(--circle-width) solid;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    &::before {
        .cross_stick();
        transform: rotate(-45deg);
    }

    &::after {
        .cross_stick();
        transform: rotate(45deg);
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.close_small {
    .close();
    // width: 40px;
    // height: 40px;
    width: 1.36rem;
    height: 1.36rem;

    &::before,
    &::after {
        // height: 33px;
        height: var(--small-cross-height);
        // left: 17px;
        // top: 1.5px;
        top: calc(50% - var(--small-cross-height)/2);
    }
}

.hover_animation {
    text-decoration: none;
    background-size: 175% 175%;
    animation: @animation_settings;
}

.button {
    appearance: button;
    display: inline-block;
    align-self: baseline;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    // overflow: hidden;
    // padding: 25px 90px;
    padding: .84rem 3.05rem;

    &:hover {
        text-decoration: none;
    }

    span {
        z-index: 1;
        position: inherit;
        color: @white;

        &:hover {
            text-decoration: none;
        }
    }

    &::before {
        content: "";
        position: absolute;
        transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        // width: 0;
        opacity: 0;
        background-size: 175% 175%;
    }

    &:hover::before {
        // width: 100%;
        opacity: 1;
        .hover_animation();
    }
}

// .popup(@max-width: 500px) {
.popup(@max-width: 16.95rem) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    // padding: 50px;
    padding: 1.69rem;
    max-width: @max-width;
    background: @white;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

    &.show {
        visibility: visible;
        opacity: 1;
    }

    .close {
        .close();
        background: @white;
        border-color: @pink;

        &::before {
            background: @pink;
        }

        &::after {
            background: @pink;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .label {
        padding-bottom: 1em;
    }

    .text {
        // font-size: 20px;
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        // margin-top: 14px;
        margin-top: .47rem;
    }

    .input {
        border: 2px solid @pink;
        width: 100%;
        // font-size: 20px;
        font-size: 0.66rem;
        // padding: 29px 0 29px 22px;
        padding: .98rem 0 .98rem .75rem;
        // margin-top: 30px;
        margin-top: 1.02rem;
    }

    .input:focus {
        outline: none;
    }

    .custom_input {
        color: @pink;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    .custom_input:hover {
        text-decoration: underline;
    }

    .error {
        // font-size: 20px;
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        // margin-top: 14px;
        margin-top: .47rem;
        position: absolute
    }

    .button {
        display: block;
        // padding: 25px 0;
        padding: .85rem 0;
        align-self: auto;
        // margin-top: 30px;
        margin-top: 1.02rem;
        width: 100%;
    }

    .button:first-child {
        // margin-top: 20px;
        margin-top: .68rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    // font-size: 15px;
    font-size: 0.5rem;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;

    li a {
        color: @white;
    }

    img {
        position: absolute;
        // right: -50px;
        right: -1.69rem;
        top: -10px;
        // height: 100px;
        // width: 100px;
        height: 3.33rem;
        width: 3.33rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        background: @white;
        z-index: 2;
    }

    button {
        // width: 400px;
        width: 13.56rem;
    }
}

.account_input {
    display: flex;
    align-items: center;
    // margin-top: 30px;
    margin-top: 1.02rem;

    p {
        font-weight: 400;
        // font-size: 20px;
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        // margin-left: 20px;
        margin-left: .68rem;
    }

    button {
        // flex: 0 400px;
        flex: 0 13.56rem;
    }

    p {
        flex: 1;
    }

    a {
        color: @pink;
    }
}