.cross_stick {
    content: "";
    position: absolute;
    width: var(--cross-width);
    height: var(--cross-height);
    left: calc(50% - var(--cross-width)/2);
    top: calc(50% - var(--cross-height)/2);
}

.close {
    position: absolute;
    top: -.51rem;
    right: -.51rem;
    width: 1.69rem;
    height: 1.69rem;
    border-radius: 50%;
    border: var(--border-main) solid;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    &::before {
        .cross_stick();
        transform: rotate(-45deg);
    }

    &::after {
        .cross_stick();
        transform: rotate(45deg);
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.close_small {
    .close();
    width: 1.36rem;
    height: 1.36rem;

    &::before,
    &::after {
        height: var(--small-cross-height);
        top: calc(50% - var(--small-cross-height)/2);
    }
}

.hover_animation {
    text-decoration: none;
    background-size: 175% 175%;
    animation: @animation_settings;
}

.button {
    display: inline-block;
    align-self: baseline;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: .84rem 3.05rem;

    &:hover {
        text-decoration: none;
    }

    span {
        z-index: 1;
        position: inherit;
        color: @white;

        &:hover {
            text-decoration: none;
        }
    }

    &::before {
        content: "";
        position: absolute;
        transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        background-size: 175% 175%;
    }

    &:hover::before {
        opacity: 1;
        .hover_animation();
    }
}

.popup(@max-width: 16.95rem) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    padding: 1.69rem;
    max-width: @max-width;
    background: @white;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    transition: var(--popup-transition);

    &.show {
        visibility: visible;
        opacity: 1;
    }

    .close {
        .close();
        background: @white;
        border-color: @pink;

        &::before {
            background: @pink;
        }

        &::after {
            background: @pink;
        }
    }

    .form {
        display: flex;
        flex-direction: column;

        p {
            font-size: 0.66rem;

            &>a {
                color: @pink;
            }
        }
    }

    .label {
        padding-bottom: 1em;
    }

    .text {
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-top: .47rem;
    }

    .input {
        border: var(--border-main) solid @pink;
        width: 100%;
        font-size: 0.66rem;
        padding: .98rem 0 .98rem .75rem;
        margin-top: 1.02rem;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .input:focus {
        outline: none;
    }

    .custom_input {
        color: @pink;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    .custom_input:hover {
        text-decoration: underline;
    }

    .error {
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-top: .47rem;
        position: absolute
    }

    .button {
        display: block;
        padding: .85rem 0;
        align-self: auto;
        margin-top: 1.02rem;
        width: 100%;
    }

    .button:first-child {
        margin-top: .68rem;
    }
}

.navbar {
    display: flex;
    // justify-content: space-between;
    font-size: 0.5rem;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;

    >li {
        &:nth-child(n+2) {
            margin-left: 2.22rem;
        }
    }

    li a {
        color: @white;
    }

    img {
        position: absolute;
        // right: -1.69rem;
        right: -1.29rem;
        top: -.34rem;
        height: var(--small-avatar-diameter);
        width: var(--small-avatar-diameter);
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        background: @white;
        z-index: 2;
    }

    button {
        width: 13.56rem;
    }
}

.account_input {
    display: flex;
    align-items: center;
    margin-top: 1.02rem;

    p {
        font-weight: 400;
        font-size: 0.66rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-left: .68rem;
    }

    button {
        flex: 0 13.56rem;
    }

    p {
        flex: 1;
    }

    a {
        color: @pink;
    }
}

.click_opacity {
    opacity: .3;
}