.participant-karathons {


    .participant-karathons_wrapper {


        .participant-karathons_item {

            .participant-karathons_item_karathon-number {

                .participant-karathons_item_number {

                }

                .participant-karathons_item_text {

                }
            }

            .participant-karathons_item_dates {

            }
        }

    }
}

.available-karathons_wrapper {

    .available-karathons_item {
        display: flex;

        .available-karathons_item_karathon {

            .available-karathons_item_karathon-number {

                .available-karathons_item_number {

                }

                .available-karathons_item_text {

                }
            }
        }

        .available-karathons_item_button_wrapper {

            .available-karathons_item_button {
                .button();
                background: @blue;

                &::before {
                    background: @gradient_blue_green;
                }
            }
        }

    }
}