{% load static %}
{% load get_outlink %}
{% load account_menu %}

{% url 'core:about_karathons' as about_karathons_url %}

<li>
  <a {% if view_name  == 'core:site-index' %} href="javascript:void(0)" style="cursor: default; text-decoration: none" {% else %} href="/" {% endif %}>
      Главная
  </a>
</li>
{% if karathons|length == 0 %}
  <li><a href="{{ about_karathons_url }}">О карафонах</a></li>
{% elif karathons|length == 1 %}
  {% with karathon=karathons|first %}
    <li><a href="{{ karathon.karathon_url }}">{{ karathon.number }} карафон</a></li>
  {% endwith %}
{% else %}
  <li><span>Карафоны</span>
    <div class="navbar_karathon_list_wrapper">
      {% for karathon in karathons %}
        <div><a href="{{ karathon.karathon_url }}">{{ karathon.number }} карафон</a></div>
      {% endfor %}
    </div>
  </li>
{% endif %}
<li><a href="javascript:void(0)">Рекордсмены</a></li>
<li><a href="javascript:void(0)">О Карачуне</a></li>
<li><a href="javascript:void(0)">Прошедшие карафоны</a></li>
{% comment %} <li><a href="javascript:void(0)">Благотворительность</a></li> {% endcomment %}
<li><a href="{% get_outlink 'TELEGRAM_URL' %}" target="_blank">Telegram</a></li>
{% if not user.is_authenticated %}
  <li><a href="javascript:void(0)" button-action="open-auth-form">Вход</a></li>
{% endif %}
{% if user.is_authenticated %}
  {% if account_url not in request_url %}
    <div class="header_navbar_menu_photo" navbar-elem="user_avatar">
        {% if user.participant.photo %}
        <img src="{{user.participant.photo.url}}">
        {%else%}
        <img class="no_avatar" src="{% static 'core/img/no_avatar.png' %}">
        {% endif %}
    </div>
    {% comment %} {% account_menu %} {% endcomment %}
    <div class="participants_account_menu" window-elem="account_menu">
      {% account_menu %}
    </div>
  {% endif %}
{% endif %}