
{% load static %}
{% load get_outlink %}
{% load account_menu %}

{% url 'core:about_karachunia' as about_karachunia_url %}
{% url 'core:about_karathons' as about_karathons_url %}
{% url 'core:account-logout' as logout_url %}
{% url 'core:champions' as champions_url %}
{% url 'core:past_karathons' as past_karathons_url %}

<li class="navbar_menu_item">
    {% if view_name  == 'core:site-index' %}
      <span class="navbar_menu_item_text active">
        Главная
      </span>
    {% else %}
      <a class="navbar_menu_item_link" href="/">Главная</a>
    {% endif %}
</li>
{% if karathons|length == 0 %}
  <li class="navbar_menu_item">
    {% if view_name  == 'core:about_karathons' %}
      <span class="navbar_menu_item_text active">
        О карафонах
      </span>
    {% else %}
      <a class="navbar_menu_item_link" href="{{ about_karathons_url }}">
        О карафонах
      </a>
    {% endif %}
  </li>
{% elif karathons|length == 1 %}
  {% with karathon=karathons|first %}
    <li class="navbar_menu_item">
    {% if view_name  == 'core:karathon' %}
      <span class="navbar_menu_item_text active">
        {{ karathon.number }} карафон
      </span>
    {% else %}
      <a class="navbar_menu_item_link" href="{{ karathon.karathon_url }}">
        {{ karathon.number }} карафон
      </a>
    {% endif %}
    </li>
  {% endwith %}
{% else %}
  <li class="navbar_menu_item">
    <span class="navbar_menu_item_text{% if view_name  == 'core:karathon' %} active{% endif %}"
          menu-elem="karathons">Карафоны</span>
    <div class="navbar_menu_karathon_list_wrapper" menu-elem="karathons_list">
      {% for karathon in karathons %}
        <div>
          {% if karathon.karathon_url in request_url %}
            <span class="navbar_menu_item_text active">{{ karathon.number }} карафон</span>
          {% else %}
            <a class="navbar_menu_item_link" href="{{ karathon.karathon_url }}">{{ karathon.number }} карафон</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </li>
{% endif %}
<li class="navbar_menu_item">
  {% if view_name  == 'core:champions' %}
    <span class="navbar_menu_item_text active">Рекордсмены</span>
  {% else %}
    <a href="{{ champions_url }}">Рекордсмены</a>
  {% endif %}
</li>
<li class="navbar_menu_item">
  {% if view_name  == 'core:about_karachunia' %}
    <span class="navbar_menu_item_text active">О Карачуне</span>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ about_karachunia_url }}">О Карачуне</a>
  {% endif %}
</li>
<li class="navbar_menu_item">
  {% if view_name  == 'core:past_karathons' %}
    <span class="navbar_menu_item_text active">Прошедшие карафоны</span>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ past_karathons_url }}">Прошедшие карафоны</a>
  {% endif %}
</li>
{% comment %} <li><a href="javascript:void(0)">Благотворительность</a></li> {% endcomment %}
<li class="navbar_menu_item">
  <a class="navbar_menu_item_link" href="{% get_outlink 'TELEGRAM_URL' %}" target="_blank">
    Telegram
  </a>
</li>
{% if not user.is_authenticated %}
  <li class="navbar_menu_item">
    <a href="javascript:void(0)" button-action="open-auth-form">
      Вход
    </a>
  </li>
{% endif %}
{% if user.is_authenticated %}
  {% if account_url not in request_url %}
    <div class="header_navbar_menu_photo" navbar-elem="user_avatar">
      {% if user.participant.photo %}
        <img src="{{user.participant.photo.url}}">
      {% else %}
        <img class="no_avatar" src="{% static 'core/img/no_avatar.png' %}">
      {% endif %}
    </div>
    {% comment %} {% account_menu %} {% endcomment %}
    <div class="participants_account_menu" window-elem="account_menu">
      {% account_menu %}
    </div>
  {% endif %}
{% endif %}