<li><a href="javascript:void(0)">n-й карафон</a></li>
<li><a href="javascript:void(0)">Рекордсмены</a></li>
<li><a href="javascript:void(0)">О Карачуне</a></li>
<li><a href="javascript:void(0)">Прошедшие карафоны</a></li>
<li><a href="javascript:void(0)">Благотворительность</a></li>
<li><a href="javascript:void(0)">Telegram</a></li>
{% if not user.is_authenticated %}
  <li><a href="javascript:void(0)" button-action="open-auth-form">Вход</a></li>
{% endif %}

{% if user.is_authenticated %}
  {% if account_url not in request_url %}
    {% include 'core/menu/account_menu.html' %}
  {% endif %}
{% endif %}