{% url 'site-index' as index_url %}
{% url 'account:account-index' as account_url %}
{% url 'account:account-messages' as messages_url %}
{% url 'account:account-results' as results_url %}
{% url 'account:teams:team-index' as team_url %}
{% url 'account:account-logout' as logout_url %}

<nav class="header_navbar_menu container" window-elem="navbar">
  {% include 'core/menu/navbar_items.html' %}
  {% include 'core/menu/navbar_mobile.html' %}
</nav>
<nav class="sticky_navbar_menu container" window-elem="sticky_navbar">
  {% include 'core/menu/navbar_items.html' %}
  {% include 'core/menu/navbar_mobile.html' %}
</nav>