.desire_form_wrapper {
    .popup();

    div[reload] {
        margin-top: 2.2rem;
    }

    div[desire-form-elem="error"] {
        color: @pink;
        font-size: .5rem;
        margin-top: 0;
        min-height: 2rem;
    }
}