.team_content_button {
    margin-top: 75px;
}

.team_wishlist_wrapper {
    margin-top: 150px;
}

.team_wishlist_items {
    display: flex;
    flex-wrap: wrap;
}

.team_wishlist_items_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 50px;


    .team_wishlist_items_item_delete {

        .close_small();
        margin-left: 0;
        top: 0;
        left: 0;
        background: @white;
        border-color: @pink;
        visibility: hidden;

        &::before {
            background: @pink;
        }

        &::after {
            background: @pink;
        }
    }

    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    div {
        flex: 1;
        margin-left: 20px;
    }

    span {
        font-size: 16px;
        color: @pink
    }

    button {
        .pink_button();
        padding: 12px 40px 12px 20px;
        position: absolute;
        bottom: 12px;
        left: 88px;
        border: none;
        appearance: button;
    }

    p {
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    p:last-child {
        font-weight: 400;
        font-size: 16px;
    }

    &:hover>.team_wishlist_items_item_delete {
        visibility: visible;
    }
}

.team_wishlist_items_add {
    cursor: pointer;
    margin-top: 50px;
    position: relative;
}

.team_wishlist_items_add_circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid @pink;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(50% - 21.5px);
        width: 2px;
        height: 43px;
        background: @pink;
    }

    &::after {
        content: "";
        position: absolute;
        left: calc(50% - 21.5px);
        top: 50%;
        width: 43px;
        height: 2px;
        background: @pink;
    }
}

.team_wishlist_items_add_button_wrapper {
    position: absolute;
    bottom: 12px;
    left: 88px;
    width: max-content;

    button {
        padding: 12px 40px 12px 20px;
        font-size: 20px;
    }
}