<div class="close" popup-element="close"></div>
<h4>Авторизация</h4>
{% if window == 'phone' or window == 'code' %}
  <form class="form" auth-form-elem="form">
    <input type="hidden" name="window" value="{{ window }}" auth-form-elem="window">
    <label class="label" auth-form-elem="phone-wrapper">
      <div class="text">Укажи номер телефона для авторизации:</div>
      <input class="input" type="text" name="phone" value="{{ phone }}" auth-form-elem="phone"
             {% if window == 'code' %}readonly{% endif %}>
      <div class="error">{{ errors.phone.as_text }}</div>
    </label>
    {% if window == 'code' %}
      <label class="label" auth-form-elem="code-wrapper">
        <input class="input" type="text" name="code" value="" auth-form-elem="code" autocomplete="off">
        <div class="text">{{ errors.code }}</div>
        <div class="text">введи код из SMS, которую мы отправили на указанный номер</div>
      </label>
    {% endif %}
    {% if window == 'phone' %}
      <button class="button pink_button" auth-form-elem="button">
        <span auth-form-elem="button">Подтвердить</span>
      </button>
    {% endif %}
  </form>
{% endif %}
{% if window == 'enter' %}
  <div auth-form-elem="enter" reload="{{ reload_overlay }}">
  <div class="text">Не забудь заполнить анкету в личном кабинете</div>
  <a class="button pink_button" href="{% url 'account:account-index' %}"><span>Заполнить</span></a>
  <button class="white_button button" auth-form-elem="later"><span>Позже</span></button>
{% endif %}
</div>