{% load compile_static %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Ошибка 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" viewport-fit="cover" />
    <link rel="icon" href="{%static 'core/img/favicon.png' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'core/less/style.less'|compile %}?v{% now 'u' %}" />
    {% csrf_token %}
</head>

<body>
    <div class="global-wrapper">
        <div class="custom_500_wrapper">
            <div class="container">
                <div class="custom_404_text">
                    <div class="text_error">
                        <h1>Ошибка на сервере</h1>
                        <div>500</div>
                    </div>
                    <p>У нас что-то произошло, но мы вскоре всё поправим</p>
                </div>
                <div class="custom_404_menu">
                    <li><a href="/">На главную</a></li>
                    <li><a href="javascript:void(0)">n-ый карафон</a></li>
                    <li><a href="javascript:void(0)">Рекордсмены</a></li>
                    <li><a href="javascript:void(0)">О карачуне</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'account:account-index' %}">Личный кабинет</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>