{% extends 'core/base.html' %}

{% block title %}Принять участие в карафоне{% endblock %}

{% block content %}
  <div class="first-screen_wrapper">
    <div class="first-screen container" window-elem="first-screen">
      <h1>Стань участником карафона</h1>
    </div>
  </div>
  <div class="container">
    {% if participant_karathon_list|length > 0 %}
      <div class="participant-karathons">
        <h3>Вы уже принимаете участие в карафонах:</h3>
        <div class="participant-karathons_wrapper">
          {% for karathon in participant_karathon_list %}
            <div class="participant-karathons_item">
              <div class="participant-karathons_item_karathon-number">
                <div class="participant-karathons_item_number">
                  {{ karathon.number }}
                </div>
                <div class="participant-karathons_item_text">
                  карафон
                </div>
              </div>
              <div class="participant-karathons_item_dates">
                Пройдёт с {{ karathon.starts_at|date:'d E Y' }} по {{ karathon.finished_at|date:'d E Y' }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if available_karathon_list|length > 0 %}
      <div class="available-karathons">
        <div class="available-karathons_header">Выберите карафон, в котором хотите принять участие</div>
        <div class="available-karathons_wrapper">
          {% for karathon in available_karathon_list %}
            <div class="available-karathons_item" participate-elem="karathon-wrapper" karathon-id="{{ karathon.id }}">
              <div class="available-karathons_item_karathon">
                <div class="available-karathons_item_karathon-number">
                  <div class="available-karathons_item_number"
                       participate-elem="karathon-number"
                       karathon-number="{{ karathon.number }}">
                    {{ karathon.number }}
                  </div>
                  <div class="available-karathons_item_text">
                    карафон
                  </div>
                </div>
                <div class="available-karathons_item_dates">
                  Пройдёт с {{ karathon.starts_at|date:'d E Y' }} по {{ karathon.finished_at|date:'d E Y' }}
                </div>
              </div>
              <div class="available-karathons_item_button_wrapper">
{#                <a class="available-karathons_item_button" participate-elem="open-email-popup-button">#}
                  <a class="available-karathons_item_button" participate-elem="open-payment-popup-button">
                  <span>Участвовать</span>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}