.message_item {
    margin-top: 2.71rem;
    position: relative;
}

.message_item_new {
    position: absolute;
    left: -1.52rem;
    top: -0.47rem;
    color: transparent;
    -webkit-text-stroke: 1px #f648a5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "RussoOne-Regular";
    font-size: 1.33rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        opacity: 0.7
    }

    &.touched {
        opacity: 0.7;
        -webkit-text-stroke: none;
        color: @pink;
        z-index: 2;
    }
}

.message_item_date {
    font-size: 0.53rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
}

.message_item_header {
    margin-top: 0.47rem;
}

.message_item_text {
    margin-top: 0.67rem;
}

.message_item_marked_as_read {
    max-width: 13.55rem;
    padding: 0.84rem 1rem;
    visibility: hidden;
    transition: 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    opacity: 0;


    &.show {
        visibility: visible;
        opacity: 1;
    }
}

div[window-elem="marked_as_read"] {
    position: sticky;
    bottom: 0;
    left: 100%;
}

.messages_items_next {
    color: @pink;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}