@media (max-width: 576px) {
    .message_item_new {
        left: -.69rem;
        font-weight: 500;
    }

    .message_item_marked_as_read {
        max-width: 100%;
        margin-bottom: 1.85em;
    }
}