{% comment %} {% load account_menu %} {% endcomment %}

<div class="first-screen_wrapper">
    <div class="first-screen container" window-elem="first-screen">
        <div class="first-screen_text">
            <h1>Личный кабинет</h1>
            <div class="first-screen_account_time" window-elem="first-screen-countdown">Countdown</div>
            <div class="first-screen_text_collab">до подачи отчета</div>
            <div class="first-screen_account_button_wrapper">
            <a class="blue_button" href="/participate/">Сдать отчет</a>
            </div>
        </div>
        {% if user.participant.photo %}
        <div class="first-screen_avatar" window-elem="account_avatar">
            <img src="{{user.participant.photo.url}}">
        </div>
        {% else %}
        <div class="first-screen_avatar" window-elem="account_avatar">
            <label class="first-screen_no_avatar">
                <p>добавьте фото</p>
            </label>
        </div>
        {% endif %}
        {% comment %} {% account_menu %} {% endcomment %}
        {%include 'core/menu/account_menu.html'%}
    </div>
</div>