<div class="close" popup-element="close"></div>
<form class="personal_form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="personal_form_full_name">
    <div class="personal_form_full_name_items">
      <label class="personal_form_last_name">
        <input type="text" name="last_name" value="{{ participant_form.last_name.value }}" placeholder="Фамилия">
        <div class="personal_form_field-error">{{ participant_form.last_name.errors.as_text }}</div>
      </label>
      <label class="personal_form_first_name">
        <input type="text" name="first_name" value="{{ participant_form.first_name.value }}" placeholder="Имя">
        <div class="personal_form_field-error">{{ participant_form.first_name.errors.as_text }}</div>
      </label>
      <label class="personal_form_middle_name">
        <input type="text" name="middle_name" value="{{ participant_form.middle_name.value|default_if_none:'' }}"
               placeholder="Отчество">
        <div class="personal_form_field-error">{{ participant_form.middle_name.errors.as_text }}</div>
      </label>
    </div>
    <div class="personal_form_avatar">
      {% if user.participant.photo %}
        <label class="personal_form_avatar_ex" for="account_photo">
          <img src="{{ user.participant.photo.url }}">
          <div window-elem="avatar_preview"></div>
          <div class="personal_form_avatar_text pink_button">
            <span>сменить фото</span>
          </div>
        </label>
      {% else %}
        <label class="personal_form_avatar_ex" for="account_photo" window-elem="custom_input_avatar">
          <div class="personal_form_no_avatar"></div>
          <div window-elem="avatar_preview"></div>
          <div class="personal_form_avatar_text pink_button">
            <span>добавить фото</span>
          </div>
        </label>
      {% endif %}
      <input id="account_photo" type="file" name="photo" accept="image/jpeg,image/png" style="display: none;"
             window-elem="input_avatar">
      <div class="personal_form_field-error">{{ participant_form.errors.photo.as_text }}</div>
    </div>
  </div>
  <div class="personal_form_info">
    <label class="personal_form_info_phone">
      <div class="personal_form_input">
        <input type="text" name="phone" data-tel-input value="{{ participant_form.phone.value }}" placeholder="Телефон">
        <div class="personal_form_field-error">{{ participant_form.phone.errors.as_text }}</div>
      </div>
      <p>твой номер телефона</p>
    </label>
    <label class="personal_form_info_instagram blur_input">
      <div class="personal_form_input">
        <input type="text"
               name="instagram"
               value="{{ participant_form.instagram.value|default_if_none:'' }}"
               placeholder="instagram">
        <div class="personal_form_field-error">{{ participant_form.instagram.errors.as_text }}</div>
      </div>
      <p>просто укажи свой ник в Instagram*</p>
    </label>
    <label class="personal_form_info_telegram blur_input">
      <div class="personal_form_input">
        <input type="text"
               name="telegram"
               value="{{ participant_form.telegram.value|default_if_none:'' }}"
               placeholder="telegram">
        <div class="personal_form_field-error">{{ participant_form.telegram.errors.as_text }}</div>
      </div>
      <p>просто укажи свой ник в Telegram</p>
    </label>
    <label class="personal_form_info_mail blur_input">
      <div class="personal_form_input">
        <input type="email" name="email" value="{{ participant_form.email.value|default_if_none:'' }}"
               placeholder="E-mail">
        <div class="personal_form_field-error">{{ participant_form.email.errors.as_text }}</div>
      </div>
      <p>твой email для отправки уведомлений</p>
    </label>
    {% if is_active_karathon %}
      <input type="hidden" name="timezone_offset" value="{{ participant_form.timezone_offset.value }}">
      <input type="hidden" name="category" value="{{ participant_form.category.value }}">
    {% else %}
      <label class="personal_form_info_timezone">
        <div>
          <select name="timezone_offset">
            {% for value,name in participant_form.fields.timezone_offset.choices %}
              <option value="{{ value }}"{% if participant_form.timezone_offset.value == value %}
                      selected{% endif %}>{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <p>время, к которому будут привязаны твои задания</p>
      </label>
      <label class="personal_form_info_category">
        <div>
          <select name="category">
            {% for value,name in participant_form.fields.category.choices %}
              <option value="{{ value }}"
                  {% if participant_form.category.value == value %} selected{% endif %}
                  {% if value == "" %} disabled{% endif %}
              >{% if value == "" %}
                Выбрать категорию
              {% else %}
                {{ name }}
              {% endif %}</option>
            {% endfor %}
          </select>
        </div>
        <p>категория, по которой ты будешь получать задания</p>
      </label>
    {% endif %}
    <div class="personal_form_info_button">
      <button class="pink_button" type="submit" value="account" name="personal"
              value="personal"><span>Сохранить</span></button>
      <p>нажимая на кнопку, ты даешь согласие на <a href="{% url 'core:privacy_policy' %}" target="_blank">обработку и
        хранение персональных
        данных</a>
      </p>
    </div>
  </div>
</form>