<form class="account_content_form_wrapper" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="account_content_full_name">
    <div class="account_content_full_name_items">
      <label>
        <input type="text" name="last_name" value="{{ participant_form.last_name.value }}" placeholder="Фамилия">
        <div>{{ participant_form.last_name.errors }}</div>
      </label>
      <label>
        <input type="text" name="first_name" value="{{ participant_form.first_name.value }}" placeholder="Имя">
        <div>{{ participant_form.first_name.errors }}</div>
      </label>
      <label>
        <input type="text" name="middle_name" value="{{ participant_form.middle_name.value|default_if_none:'' }}" placeholder="Отчество">
        <div>{{ participant_form.middle_name.errors }}</div>
      </label>
    </div>
    <div class="account_content_avatar">
      {% if user.participant.photo %}
      <label class="account_content_avatar_ex" for="account_photo">
        <img src="{{user.participant.photo.url}}">
        <div window-elem="avatar_preview"></div>
        <div class="account_content_avatar_text pink_button">
          <span>сменить фото</span>
        </div>
      </label>
      {% else %}
      <label class="account_content_avatar_ex" for="account_photo" window-elem="custom_input_avatar">
        <div class="account_content_no_avatar"></div>
        <div window-elem="avatar_preview"></div>
        <div class="account_content_avatar_text pink_button">
          <span>добавить фото</span>
        </div>
      </label>
      {% endif %}
      <input id="account_photo" type="file" name="photo" accept="image/jpeg,image/png" style="display: none;" window-elem="input_avatar">
      <div>{{ participant_form.errors.photo.as_text }}</div>
    </div>
  </div>
  <div class="account_content_info">
    <label class="account_content_info_phone">
      <div>
        <input type="text" name="phone" value="{{ participant_form.phone.value }}" placeholder="Телефон">
        <div>{{ participant_form.phone.errors }}</div>
      </div>
      <p>твой номер телефона для авторизации на сайте</p>
    </label>
    <label class="account_content_info_instagram blur_input">
      <div >
        <input type="text" name="instagram" value="{{ participant_form.instagram.value|default_if_none:'' }}" placeholder="https://">
        <div>{{ participant_form.instagram.errors }}</div>
      </div>
      <p>просто укажи ссылку на свой инстаграм</p>
    </label>
    <label class="account_content_info_mail blur_input">
      <div>
        <input type="email" name="email" value="{{ participant_form.email.value|default_if_none:'' }}" placeholder="E-mail">
        <div>{{ participant_form.email.errors }}</div>
      </div>
      <p>твой email для наших оповещений</p>
    </label>
    <label class="account_content_info_timezone">
      <div>
        <select name="timezone_offset">
          {% for value,name in participant_form.fields.timezone_offset.choices %}
            <option value="{{ value }}"{% if participant_form.timezone_offset.value == value %}
                    selected{% endif %}>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <p>время, к которому будут привязаны твои задания</p>
    </label>
    <label class="account_content_info_category">
      <div>
        <select name="category">
          {% for value,name in participant_form.fields.category.choices %}
            <option value="{{ value }}"
                {% if participant_form.category.value == value %} selected{% endif %}
                {% if value == "" %} disabled{% endif %}
            >{% if value == "" %}
              Выбрать категорию
            {% else %}
              {{ name }}
            {% endif %}</option>
          {% endfor %}
        </select>
      </div>
      <p>категория, по которой ты будешь получать задания</p>
    </label>
    <div class="account_content_info_button">
      <button class="pink_button" type="submit" value="account" name="personal"><span>Сохранить</span></button>
      <p>нажимая на кнопку, ты даешь согласие на <a href="{% url 'core:privacy_policy' %}" target="_blank">обработку и хранение персональных
        данных</a>
      </p>
    </div>
  </div>
</form>